body{
    font-family: 'Roboto', sans-serif;
    color:#766F68 ;
}

                                                  /* DESKTOP FIRST */
.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px;
    
    
}

.navbar__logo{
    color: #D2872C;
    

}

.navbar__itens{
    color:#766F68 ;
    display: flex;
    
}

.itens{
    margin: 15px;
}

.conteudoPrincipal{
    display: flex;
    margin-top: 50px;
    padding: 30px;
    justify-content: center;
}




.conteudoPrincipal__titulo{
    font-size: 50px;
}

.conteudoPrincipal__texto{
    font-size: 26px;
}


.conteudoPrincipal__img img{
    width: 100%;
    max-width: 600px;
    
}


.conteudoPrincipal__btn{
    color: white;
    background-color: #D2872C;
    
    font-size: 20px;
    padding: 13px;
    border-radius: 9px;
    font-weight: bolder;
    /* margin: 20px; */
    width: 100%;
    max-width: 200px;
    border-color: white;
    margin-left: 117px;
}

.rodape{
    background-color: #1a1c20;
    color: #dac8b7;
    display: flex;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.rodape__paragrafo{
    font-size: 20px;
    
    
}

 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}




/* MOBILE */

@media screen and (min-width: 960px){

}
