body{
    font-family: 'Roboto', sans-serif;
    color:#766F68 ;
}

                                                  /* DESKTOP FIRST */
.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px;
    
    
}

.navbar__logo{
    color: #D2872C;
    

}

.navbar__itens{
    color:#766F68 ;
    display: flex;
    
}

.itens{
    margin: 15px;
}

.conteudoPrincipal{
    display: flex;
    margin-top: 50px;
}


.conteudoPrincipal__img img{
    width: 100%;
    max-width: 514px;
    
}


.conteudoPrincipal__btn{
    color: white;
    background-color: #D2872C;
    
    font-size: 20px;
    padding: 13px;
    border-radius: 9px;
    font-weight: bolder;
    margin: 39px;
}
